.classificatior-MainPage__ResultSeachFilm {
    font-weight: bold;
    font-size: 8px;


}
.classificatior-MainPage__GoodResult {
    color: chartreuse;
}
.classificatior-MainPage__BadResult {
    color: red;
}
.classificator-MainPage__Button{
  color: #900;
  font-weight: bold;
  font-size: 150%;
  text-transform: uppercase;
}