<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Классификатор</title>
    <link href="{{ url_for('static', filename='Classificator.css') }}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Classificator.js') }}"></script>
</head>
<body>
<div class="wrapper">
<h1 class="Classificator">
    Классификатор
</h1>
<!--
<input type="radio" class="classificatior-MainPage__SelectOption" name="Choice" value="FindFilm" {{ CheckedRadioFilm }}> Найди хороший фильм<br>
<input type="radio" name="Choice" class="classisicatior-MainPage__SelectOption" value="Emotion" {{ CheckedRadioMessage }}> Угадай эмоцию<br>
-->
<form method="POST" action="">
    <input value="0" name ="condition"type="hidden">
    <input name ="AnalyseMessage"type="hidden">
    <input name ="seachFilm"type="hidden">
    <button class="MessageClass MessageSwitcher"type="submit">Найди хороший фильм</button>
</form>
<form method="POST" action="">
    <input value="1" name ="condition"type="hidden">
    <input name ="AnalyseMessage"type="hidden">
    <input name ="seachFilm"type="hidden">
    <button class="MessageClass EmotionSwitcher" type="submit">Угадай эмоцию</button >
</form>
<div class="clearBoth"></div>
<div class="WrapperFilm">
{% if condition == 0 or condition == 4 %}
<form class="FilmShow" method="POST", action="", value="{{ Message }}">
<input class="searchLine" name ="seachFilm"type="text" value="{{ FilmS }}">
    <div class="button-wrapper">
<button class="FilmClass" type="submit">Найди хороший фильм</button>
        </div>
<input name ="AnalyseMessage"type="hidden">
</form>
{% endif %}
{% if condition == 4 %}
<div class="classificatior-MainPage__ResultSeachFilm {{ 'classificatior-MainPage__GoodResult' if ResultFilm >= 60 else 'classificatior-MainPage__BadResult ' }}">
{{ResultFilm}}%
</div>
<div class="classificatior-MainPage__ResultSeachFilm">
<span class="classificatior-MainPage__GoodResult">
    {{goodQty}}
</span>/
<span class="classificatior-MainPage__BadResult">
    {{badQty}}
</span>
</div>
{% endif %}
</div>
<div class="WrapperMessage">
{% if condition == 1 or condition == 3 %}
<form class="MessageShow" method="POST", action="">
<input class="searchLine" name ="AnalyseMessage"type="text" value="{{ Message }}">
    <div class="button-wrapper">
    <button class="FilmClass" type="submit">Угадай эмоцию</button>
     <!--
<div class="classificator-MainPage__Button">Угадай эмоцию</div>  -->
    </div>
</form>
{% endif %}
{% if condition == 3 %}
<div class="classificatior-MainPage__ResultSeachFilm">
{% if ResultMessage %}
    <span class="classificator-MainPage__Plus classificatior-MainPage__GoodResult">
    +
    </span>
   {% else %}
    <span class="classificator-MainPage__Min classificatior-MainPage__BadResult">
    -
    </span>
    {% endif %}
</div>
{% endif %}
</div>
</div>
</body>
</html>